<?xml version="1.0" encoding="utf-8"?>
<profile>
    <header>
        <name>System Profile 01</name>
        <author>Manually written by Leigh McLoughlin</author>
    </header>
    <options>
		<theme>Resources/Themes/system.xml</theme>
		
		<window>
			<width>800</width>
			<height>600</height>
		</window>
      
      <!-- Use these to override Theme settings
    <constGroup>
       <const>
        <key>@LeftArrow</key>
        <value>System/CommandSymbols/Arrow_Left.xml</value>
      </const>
      <const>
        <key>@RightArrow</key>
        <value>System/CommandSymbols/Arrow_Right.xml</value>
      </const>
      <const>
        <key>@ArrowColourOutline</key>
        <value>FFFFFF00</value>
      </const>
      <const>
        <key>@ArrowColourLeft</key>
        <value>00FFFF00</value>
      </const>
      <const>
        <key>@ArrowColourRight</key>
        <value>FFFF0000</value>
      </const>
    </constGroup>
      -->
	  
      <keyinput>
		    <enablekeys/>
		    <shareinputs/>

		    <map>
				<debounce>
					<trailTime>1.0</trailTime>
					<suppressionTime>1.0</suppressionTime>
					<repeatEnable>false</repeatEnable>
				</debounce>
			    <key>41 <releaseEvent>BACK</releaseEvent> </key>
			    <key>44 <pressEvent>SCAN_HIGHLIGHT</pressEvent> <releaseEvent>SCAN_SELECT</releaseEvent> </key>
			    <key>62 <pressEvent>EDIT_CUSTOMLAYOUT</pressEvent>  </key>
			</map>
		    <map>
				<debounce>
					<trailTime>0.1</trailTime>
					<repeatEnable>true</repeatEnable>
					<repeatDebounced>false</repeatDebounced>
					<repeatDelay>1.0</repeatDelay>
					<repeatRate>0.1</repeatRate>
				</debounce>
			    <key>40 <pressEvent>FOCUS_HIGHLIGHT</pressEvent> <repeatEvent>FOCUS_SELECT_HOLD</repeatEvent> <releaseEvent>FOCUS_SELECT_RELEASE</releaseEvent> </key>
			</map>
			<map>
				<debounce>
					<trailTime>0.01</trailTime>
					<delayTime>0.01</delayTime>
					<suppressionTime>0.01</suppressionTime>
					<repeatEnable>true</repeatEnable>
					<repeatDebounced>false</repeatDebounced>
					<repeatDelay>1.0</repeatDelay>
					<repeatRate>0.1</repeatRate>
				</debounce>
				<key>79 <pressEvent>NEXTFOCUS_RIGHT</pressEvent> <repeatEvent>NEXTFOCUS_RIGHT</repeatEvent> </key>
				<key>80 <pressEvent>NEXTFOCUS_LEFT</pressEvent> <repeatEvent>NEXTFOCUS_LEFT</repeatEvent> </key>
				<key>81 <pressEvent>NEXTFOCUS_DOWN</pressEvent> <repeatEvent>NEXTFOCUS_DOWN</repeatEvent> </key>
				<key>82 <pressEvent>NEXTFOCUS_UP</pressEvent> <repeatEvent>NEXTFOCUS_UP</repeatEvent> </key>
		     </map>
  

		</keyinput>
		
		
    </options>
</profile>
